<ion-header>
   <ion-toolbar color="primary">
      <ion-title>
         <ion-item color="primary">
            <ion-img src="assets\Ativo 2.png" alt="Task List" style="width: 40px; height: 40px"></ion-img>
            <ion-text class="ion-margin-start">
               TaskList - Seu app de Tarefas</ion-text>
         </ion-item>
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   <ion-list>
      <ion-list>
         <ion-list-header>
            <h1> Aqui você pode:</h1>
         </ion-list-header>


         <ion-item>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>
               <h2>Adicionar Tarefas</h2>
               <h3>Lembre-se apenas do que é importante</h3>
               <p>Agora você tem o poder de nunca mais esquecer de nada...</p>
            </ion-label>
         </ion-item>

         <ion-item>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>
               <h2>Marcar como Concluídas</h2>
               <h3>Ganhe Auto Motivação!!</h3>
               <p>Termine sua tarefas e rabisque-as da lista...</p>
            </ion-label>
         </ion-item>

         <ion-item>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>
               <h2>Colocar imagens</h2>
               <h3>Ilustre suas ideias!</h3>
               <p>Deixe tudo mais óbvio e claro com a melhor foto...</p>
            </ion-label>
         </ion-item>

      </ion-list>



   </ion-list>
<!--


<ion-tabs>
   <ion-tab-bar slot="bottom">
     <ion-tab-button tab="schedule">
       <ion-icon name="calendar"></ion-icon>
       <ion-label>Schedule</ion-label>
       <ion-badge>6</ion-badge>
     </ion-tab-button>
 
     <ion-tab-button tab="speakers">
       <ion-icon name="person-circle"></ion-icon>
       <ion-label>Speakers</ion-label>
     </ion-tab-button>
 
     <ion-tab-button tab="map">
       <ion-icon name="map"></ion-icon>
       <ion-label>Map</ion-label>
     </ion-tab-button>
 
     <ion-tab-button tab="about">
       <ion-icon name="information-circle"></ion-icon>
       <ion-label>About</ion-label>
     </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs>

-->


</ion-content>