<ion-header>
  <ion-toolbar color="primary">
     <ion-title>
        <ion-item color="primary">
           <ion-img src="assets\Ativo 2.png" alt="Task List" style="width: 40px; height: 40px"></ion-img>
           <ion-text class="ion-margin-start">
              TaskList - Seu app de Tarefas</ion-text>
        </ion-item>
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>

</ion-content>

<ion-footer>
<ion-button [routerLink]="['/home']">Logar</ion-button>
<ion-button [routerLink]="['/cadastro']">Criar Conta</ion-button>
<ion-button [routerLink]="['/lista']">Cadastrar Tarefas</ion-button>
<ion-button [routerLink]="['/fotos']">Cadastrar Fotos</ion-button>
<ion-button [routerLink]="['/']">Sair</ion-button>

</ion-footer>