<ion-content>

  <ion-card>
    <ion-item class="ion-text-center text-bold">
      <ion-label>
        Adicione suas fotos
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>
      <ion-col>
        <img src="https://github.com/aleroberto.png" />
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>